/* style.css */

/* Assurez-vous que le HTML et le body prennent toute la hauteur */
html, body, #app-root {
    height: 100%;
    margin: 0;
    /* Utilisation de la police Inter, si ce n'est pas déjà défini par Tailwind ou un autre CDN */
    font-family: "Inter", sans-serif;
}

/* Ajoutez ici d'autres styles personnalisés si nécessaire */
